
.search1{
    border-radius: 20px;
    padding-right: 20px;
    padding-right: 20px;
}

.twittericonimg{
    padding-right: 296px;
    color: #4AB3F4;
}
.profileicon{
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-color: #4AB3F4;
    color: #ccd6dd;
}
.profileicon2{
  
        padding-left: 70px;
        font-size: 35px;
        border-color: #4AB3F4;
        color: #ccd6dd;
    }
 .nav-link{
       margin-top: 0;
   }
   .nav-link{
    margin-top: 0;
    
   }
   .button4{
       border-radius:50px;
       
   }
   .search1{
       border-color: #00aced;
   }